.homepage-content-type {
  overflow: hidden;
  background: #f6f6f6;
  .quicklinksbar {
    margin-bottom: 100px;
  }
  .fullwidthslideshowsection {
    padding-top: 0;
  }
  .campus-locations {
    padding-top: 0;
  }
}
