.landing-page{
    .sidebar {
        .container{
        padding:0;
        }
        padding-top: 40px;
        padding-bottom: 40px;
        @include media-breakpoint-up(sm){
        padding-top: 87px;
        }
}
    .page_content{
        padding-top: 0px;
        @include media-breakpoint-up(sm){
        padding-top: 87px;
        }
    }
}
